<footer (mouseover)="expanded=true" (mouseenter)="expanded=true" (mouseleave)="!audioPlayer.nativeElement.paused && !isSuffleListOpen? expanded=false:''">
  @if (currentSong()) {
  <!-- Audio Element -->
  <audio #audioPlayer [src]="currentSong()?.song_url" [muted]="muted" [volume]="volume/100" [loop]="isLooped" (play)="expanded=false;sharedDataService.isSongPlaying=true;isSuffleListOpen=false;"
    [autoplay]="true" (loadstart)="onLoadStart()" (loadeddata)="onDataLoad()" (timeupdate)="updateProgress()" (pause)="sharedDataService.isSongPlaying=false"
    (ended)="onSongEnd()" (playing)="sharedDataService.isSongPlaying=true" (ended)="playNext()" (error)="playNext()"></audio>
  <div class="now-playing-bar">
    <button class="close-btn" (click)="exitNowPlayingBar()" title="Close" *ngIf="isExpanded">
      <i class="fas fa-times-circle"></i>
    </button>

    <div class="now-playing">
      <!-- Song Info -->
      <div class="song-info">
        <img [src]="currentSong()?.thumbnail || defaultThumbnail" alt="Song Thumbnail" class="thumbnail" [class.small]="!isExpanded"
          />
          @if (isExpanded) {
            <div class="details"> 
              @if (isSongNameShort && innerWidth() > 1050) {
                <p class="song-name pointer" [title]="currentSong()?.song_name">{{ currentSong()?.song_name }}</p>
              } @else {
                <marquee class="running-text song-name pointer" [title]="currentSong()?.song_name">
                  {{ currentSong()?.song_name }}
                </marquee>
              }
              <p class="artist" *ngIf="currentSong()?.singers">🎤 {{ currentSong()?.singers }}</p>
            </div>
          } @else {
            @if (isSongNameShort && 650 > innerWidth() && innerWidth() > 1050) {
              <p class="song-name" [class.small]="!isExpanded">{{ currentSong()?.song_name }}</p>
            } @else {
              <marquee behavior="scroll" direction="left" class="running-text song-name">
                {{ currentSong()?.song_name }}
              </marquee>
            }
          }
          
      </div>

      <!-- Controls -->
      <div class="audio-info">

        @if(isExpanded) {
        <div class="controls">
          <button (click)="toggleFavorite(currentSong())">
            <i class="fa-heart"
              [ngClass]="{'fa-regular':!currentSong()?.isFavorite, 'fa-solid':currentSong()?.isFavorite}"></i>
          </button>
          <button (click)="toggleSuffle()">
            <i class="fas fa-random" [ngClass]="{active:isSuffled}"></i>
          </button>
          <button (click)="playPrevious()" [disabled]="songLoading" [ngClass]="{'pe-none':songLoading}">
            <i class="fas fa-step-backward" title="Shift + LeftArrow"></i>
          </button>
          <button class="play-pause" (click)="togglePlay(false)" [disabled]="songLoading">
            <i class="fas"
              [ngClass]="{'fa-play': !sharedDataService.isSongPlaying , 'fa-pause': sharedDataService.isSongPlaying}"></i>
          </button>
          <button (click)="playNext()" [disabled]="songLoading" title="Shift + RightArrow">
            <i class="fas fa-step-forward"></i>
          </button>
          <button (click)="toggleLoop()">
            <i class="fas fa-repeat" [ngClass]="{active:isLooped}"></i>
          </button>
          <button class="list" (click)="toggleSuffleList()" (blur)="isSuffleListOpen=false" #toggleShuffleList>
            <i class="fa-solid fa-list" [ngClass]="{active:isSuffleListOpen}"></i>
            @if (isSuffleListOpen) {
              <div
                cdkDropList
                class="shuffledList"
                (cdkDropListDropped)="drop($event)">
                @for (song of shuffledSongs.slice(currentSongIndex); track $index) {
                  <div
                  class="song" [ngClass]="{'mr-5': song.website===currentSong()?.website, 'justify-content-between':song.website!==currentSong()?.website}"
                  [cdkDragData]="song" 
                  cdkDrag
                  [cdkDragDisabled]="getCdkDisabled(song)"
                  (click)="$event.stopPropagation();this.currentShufflePlaying = true;setCurrentSong(song);">
                  <img [src]="song.thumbnail || defaultThumbnail" (error)="footThumb.src=defaultThumbnail" alt="No Image" loading="lazy" width="30" #footThumb>
                  <div class="d-flex flex-column p-0 m-0" style="width: 80%;">
                    <span [class.active]="song.website===currentSong()?.website">{{song.song_name}}</span>
                    <small>{{song.singers}}</small>
                  </div>
                  <div class="handler" style="min-width: 12px;" 
                    (click)="$event.stopPropagation()"
                    (mousedown)="startHold()"
                    (mouseup)="stopHold()"
                    (mouseleave)="stopHold()"
                    (touchstart)="startHold()"
                    (touchend)="stopHold()">
                    @if (song.website!==currentSong()?.website) {
                      <i class="fa-solid fa-bars" cdkDragHandle (click)="$event.stopPropagation()"></i>
                    } @else {
                      <img [src]="sharedDataService.isSongPlaying ? playingImage : pauseImage" alt="" width="20" class="bg-white">
                    }
                  </div>
                </div>
                }
              </div>
            }
          </button>
          @if(isExpanded) {
            <div class="volume-control">
              <button (click)="toggleMute()" style="min-width: 52px; display: flex;">
                <i class="fas pointer" [ngClass]="{'fa-volume-mute':muted || !volume, 'fa-volume-up':!muted && volume}"></i>
              </button>
              <input type="range" min="0" max="100" [(ngModel)]="volume" (change)="onVolumeChange()" />
            </div>
          }

        </div>
        }
        <!-- Progress Bar -->
        <div class="progress-bar">
          <div class="time-display">
            @if(!isExpanded) {
              <button (click)="$event.stopPropagation(); togglePlay(false)" [disabled]="songLoading">
                <i class="fas"
                  [ngClass]="{'fa-play': !sharedDataService.isSongPlaying , 'fa-pause': sharedDataService.isSongPlaying}"></i>
              </button>
            }
            <span class="current-time">{{ getTime(currentTime) }}</span>
            <input type="range" min="0" max="100" [(ngModel)]="progress" (input)="onProgressChange($event)" step="0.01"
              [size]="'1'" [disabled]="songLoading" [attr.value]="50" />
            <span class="duration">{{ getTime(duration) }}</span>
          </div>
        </div>
      </div>
      <!-- Volume Control -->
      @if(!isExpanded) {
      <div class="volume-control">
        <button (click)="toggleMute()" style="min-width: 52px; display: flex;">
          <i class="fas pointer" [ngClass]="{'fa-volume-mute':muted || !volume, 'fa-volume-up':!muted && volume}"></i>
        </button>
        <input type="range" min="0" max="100" [(ngModel)]="volume" (change)="onVolumeChange()" />
      </div>
    }
    </div>
  </div>
  }
</footer>
