<aside class="sidebar" [class.open]="sideBarOpen()">
  <nav>
    <button class="toggle-btn" (click)="onToggleSidebar()">
      <i class="fa fa-angle-double-left"></i>
    </button>

    <ul>
      @for (item of dashboardItems; track $index) {
        <li class="pointer" [title]="item.nav">
          <a [routerLink]="item.routerLink" routerLinkActive="active">
            <i [class]="item.iconClass"></i>

            @if (sideBarOpen()) {
              <span>{{ item.nav }}</span>
            }
          </a>
        </li>
      }
    </ul>
  </nav>
</aside>
