.section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.playlist-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

}

.playlist-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem;
  /* justify-content: space-between; Ensures cards spread out evenly */
}

.playlist-card {
  background-color: #282828;
  flex: 1 1 calc(10% - 1rem); /* Dynamically calculate width with flexibility */
  min-width: 10rem;
  max-width: 12rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  color: #fff;
}

.playlist-card:hover {
  transform: scale(1.05);
}


.thumbnail {
  width: 100%;
  height: 150px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.02);
}



.details {
  text-align: center;
}

.playlist-name {
  padding-top: 4px;
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.song-count {
  font-size: 0.8rem;
  color: #b3b3b3;
  margin: 0;
}


button.play-pause {

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 45px;
  width: 45px;
  color: #000;
  background: var(--primary-green);
  /* border: 1px solid var(--primary-green); */
  padding: 1.2rem !important;
  border-radius: 100%;
  transition: transform 0.4s ease-out;
  position: absolute;
  bottom: 8px;
  right: 8px;
  animation: growUpSmall 0.2s ease-out forwards; /* Apply animation */
  /* display: none; */
}

button.play-pause:hover {
  transform: scale(1.05);
  background: var(--primary-green-hover);
  /* color: #000; */
}

@keyframes growUpSmall {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }

}

.composite-thumbnail {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.composite-thumbnail:hover {
  transform: scale(1.02);
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.thumbnail-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #404040;
  /* Fallback color */

}
